asgiref==3.8.1
certifi==2025.7.9
charset-normalizer==3.4.2
dj-database-url==3.0.1
Django==5.1.7
djangorestframework==3.15.2
environ==1.0
idna==3.10
python-decouple==3.8
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.5.0
whitenoise==6.9.0
gunicorn
